//
// Color variables
//=======================================

$white:         #ffffff;
$black:         #000000;
$red:           red;
$hot-blue:      #0099cc;
$hot-orange:    rgba(255,100,100,1);
$lite-gray:     #cccccc;


//
// Base Variables
//=======================================
$base-Length: 10px;